* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body, html {
	margin: 0;
	padding: 0;	
}
/*Bỏ gạch chân*/
a:hover {
	text-decoration-line: none;
}
/*Breadcrumb*/
	.breadcrumb {
		background-color: #ffffff;
		border-top: 1px solid #0AA5B5;
		border-bottom: 1px solid #0AA5B5;
	}
/*Body*/
	.main {
		margin-top: 90px;
		margin-bottom: 120px;
	}
/*Header*/
	#header {
		border-bottom: 1px solid #0AA5B5;
	}
/*Back to Top*/
	#back-to-top {
	    position: fixed;
	    bottom: 40px;
	    right: 40px;
	    z-index: 9999;
	    font-size: 50px;
	    text-align: center;
	    background: transparent;
	    color: #0AA5B5;
	    cursor: pointer;
	    border: 0;
	    border-radius: 2px;
	    text-decoration: none;
	    transition: opacity 0.2s ease-out;
	    opacity: 0;
	}
	

	#back-to-top.show {
    	opacity: 1;
	}
	#back-to-top:hover {
	    color: #05BBB4;
	}
/*My Form*/
	.myForm {
		margin-top: 50px;
		min-height: 447px;
		background-image: url(../images/form02.png);
		background-size: cover;
		background-repeat: no-repeat;
		color: #ffffff;
	}
	.myForm__title {
		font-size: 24px;
		text-align: center;
		padding-top: 22px;
	}
	.input-wrap, .button-wrap {
		text-align: center;
	}
	.input-wrap input {
		background-color: transparent;
		border: 1px solid #ffffff;
		border-radius: 10px;
		height: 50px;
		width: 70%;
		color: #ffffff;
		font-size: 18px;
		outline: none;
		padding-left: 10px;
		margin-bottom: 2.5rem;
	}
	.input-wrap input:hover {
		box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	}
	.input-wrap input:focus {
		box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	}
	.input-wrap input::placeholder {
		color: #ffffff;
	}

	.button-wrap input {
		border: 1px solid #ffffff;
		border-radius: 5px;
		text-align: center;
		color: #ffffff;
		height: 40px;
		width: 120px;
		margin-bottom: 1rem;
	}

	.button-wrap input:hover {
		background-color: #05BBB4;
		color: #ffffff;
		box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	}
/*Table*/
/*Price*/
table {
	width: 100%;
}

th, td {
	height: 50px;
	border: 1px solid white;
}

th {
	background-color: #009688a6;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
}

th:first-child {
	border-top-left-radius: 10px;
}

th:last-child {
	border-top-right-radius: 10px;
}

td {
	text-align: center;
}
td:first-child {
	text-align: justify;
	padding: 10px 20px;
}

tr:nth-child(odd) {
	background-color: #f7f7f7;
}

tr:nth-child(even) {
	background-color: #ededed;
}

tr:nth-child(odd):hover {
	background-color: #00968814;
}

tr:nth-child(even):hover {
	background-color: #00968834;
}

.myTable i.fas {
	float: right;
	padding-right: 20px;
	font-size: 12px;
	line-height: 18px;
}

.myTable i.fa-sort-up, i.fa-sort-down {
	display: none;
}
/*Index.html*/
.index__title {
	color: #0AA5B5;
	text-transform: uppercase;
}
hr {
	width: 25%;
	border-top: 1px solid #05356E;
}

.index__subtitle p {
	color: #05356E;
	width: 40%;
}