header {
	font-size: 1rem;
}

.shadow {
		box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	}
/*Navbar*/
.navbar {
	padding: 8px 0;
}
.sticky {
	width: 6rem;
}
.nav-item {
	padding-right: 15px;
}
.nav-item:last-child {
	padding-right: 0px;
}
.nav-link {
	color: #0AA5B5;
	display: inline-block;
}
header .nav-link:hover {
	color: #238ACC;
}
header .nav-link::after {
	content: "";
	display: block;
	height: 2px;
	width: 0;
	background-color: #41A0D7;
	transition: width .6s;
}
header .nav-link:hover::after {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	background-color: #41A0D7;
	transition: width .25s;
}
/*Drop down*/
	.nav-dropdown, .nav-column {
		list-style-type: none;
	}	
	.nav-dropdown {
		font-size: 90%;
		position: absolute;
		left: 100px;
		border-radius: 10px;
		text-align: left;
		display: table;
		min-width: 260px;
		padding: 20px 0 20px;
		box-shadow: 1px 1px 15px rgba(0,0,0,0.15);
		background-color: #ffffff;
		transition: opacity .25s;
		visibility: hidden;
		z-index: 200;
	}

	#services:hover .nav-dropdown {
		visibility: inherit;
	}
	.nav-column {
		padding: unset;
	}
	.menu-item {
		border-right: 1px solid #f1f1f1;
		width: 25%;
		display: table-cell;
		white-space: nowrap;
	}
	.close:active .nav-dropdown {
		opacity: 0;
	}
	.menu-item > p {
		padding: 0px 20px;
		color: #05356E;
		position: relative;
		display: inline-block;
	}
	.menu-item > p::after {
		content: '';
		display: block;
		height: 2px;
		width: 50%;
		background-color: #0AA5B5;
	}
	.menu-item-child {
		padding: 10px 20px;
	}
	.menu-item-child a {
		color: #0AA5B5;
	}
	.menu-item-child:hover a {
		color: #05356E;
	}
	.menu-item-child:hover {
		background-color: #f1f1f1;
	}

