/*Slide*/
.carousel-item {
	cursor: pointer;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 30px;
	height: 40px;
}
/*Section 1 - About*/
#index__about .card-img-wrap {
	position: relative;
}

#index__about .card-title {
	bottom: 0;
	color: #ffffff;
	transform: translateY(-43px);
	padding: 10px 10px;
	background-color: rgb(21,24,36,0.6);
	cursor: pointer;
}
#index__about .card-title:hover a {
	color: #2DCCB9;
}
#index__about .img-name {
	margin-bottom: 0;
}
#index__about .img-name a {
	color: #ffffff;
}
.btn-primary {
	margin-top: 20px;
	background-color: #46CFA8;
	border: unset;
}
.btn-primary:hover {
	box-shadow: 1px 1px 15px rgba(0,0,0,0.15);
}
/*Section 2 - Services*/

.section-2__card .card {
	margin: 15px 0;
}

.section-2__card .card-title {
	color: #3F83C4;
	text-transform: uppercase;
}

.section-2__card .card-text {
	text-align: justify;
}
/*Section 3 - Doctor*/
.section-3 {
	background: linear-gradient(127.31deg, #0AA5B5 34.46%, #2DCCB9 52.22%);
}
.section-3 .index__title {
	color: #ffffff;
}
.section-3 hr {
	border-top-color: #ffffff;
}
.btn-floating {
	color: #ffffff;
}
.carousel-indicators li {
	background-color: #05356E;
}
.see-more {
	color: #ffffff;
}
.see-more:hover {
	color: #05356E;
}
.card-text p {
	margin-bottom: 6px;
}
.clearfix .card {
	border-bottom-right-radius: 50px;
}
.clearfix .card:hover {
	box-shadow: 0 0 15px 0 rgba(0,0,0,.5); 
}
/*Section 4 - Kid*/
.block {
	text-align: center;
}
.desc p {
	text-align: justify;
	text-indent: 30px;
}
/*Section 5 - Support*/
.support__card {
	position: relative;
}
.support__card img:hover {
	box-shadow: 0 0 15px 0 rgba(0,0,0,.5); 
}
.support__circle {
	height: 160px;
	width: 160px;
	border-radius: 50%;
	background-color: #ffffff;
	border: 1px solid #0AA5B5;
	transform: translateY(-80px);
	margin: auto;
	text-align: center;
	padding-top: 40px;
}
.support__circle i {
	font-size: 80px;
	color: #0AA5B5;
}
.support-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	color: #0096C3;
	margin-top: -70px;
}
/*Section 06*/
.index__form {
	background-image: url(../images/test.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	margin-left: unset;
	margin-right: unset;
}
/*Section 07*/
.section-7 {
	padding-bottom: 3rem;
}

.index__group {
	border: 1px solid #3F83C4;
	height: 90%;
}
.question {
	padding-top: 10px;
	padding-bottom: 1rem;
	cursor: pointer;
}
.group--number {
	padding: 5px 12px;
}
.group--title {
	margin-bottom: 5px;
	color: #3B88C3;
	padding-right: 5px;
}
.group--answer a {
	color: #05356E;
}
.group--answer:hover a {
	color: #FF0505;
}
.index__group ul {
	list-style-type: none;
	padding-left: 12px;
	margin-bottom: unset;
}
.index__group li {
	padding-bottom: 1rem;
}
.index__group li:first-child {
	padding-top: 10px;
}
.index__group li::before {
	content: "\f005";
	font-family: "Font Awesome 5 Free";
	font-size: 16px;
	color: #3B88C3;
	padding-right: 12px;
}

