.page__title {
	color: #05356E;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: 24px;
}
.page__title::after {
	content: '';
	display: block;
	height: 2px;
	width: 50%;
	background-color: #0AA5B5;
}
.page__header {
	border: 1px dashed #05356E;
	background-color: #eef9ff;
	color: #0AA5B5;
	text-align: justify;
	text-indent: 20px;
	padding: 20px 10px;
}
.page__1 p {
	text-align: justify;
	text-indent: 20px;
}
