
@media (max-width: 1199px) {
	header {
		font-size: 14px;
	}
	/*Navbar*/
		.nav-item:first-child {
			padding-left: unset;
		}
	/*Search*/
		.search_input {
			width: 100px;
		}
	/*Side bar*/
		.sidebar .card-header {
			font-size: 14px;
		}
		.list-group {
			font-size: 14px;
		}
		.sidebar_list-item {
			padding-left: 10px;
		}
	/*Header*/
		/*Menu Dropdown*/
		.nav-dropdown {
			top: 75px;
			left: 90px;
		}
		.menu-item {
			width: 33%;
		}
	/*Index.html*/
		/*Sec-1*/
			.img-name {
				font-size: 16px;
			}
			#index__about .card-title {
				transform: translateY(-39px);
			}
			.index__title h1 {
			font-size: 24px;
			}
			.index__subtitle p {
				width: 65%;
				font-size: 14px;
			}
	/*Global.css*/
	.myForm__title {
		font-size: 20px;
	}
	/*index.html*/
	.section-6 .input-wrap input {
		margin-bottom: 1rem;
	}
}

@media (max-width: 768px) {
	/*Footer*/
	.time {
		margin-left: unset;
	}
	/*Global.css*/
	.myForm__title {
		font-size: 14px;
		padding-top: 10px;
		margin-bottom: 10px;
	}
	.input-wrap input {
		height: 35px;
	}
	.index__info {
		padding-top: 40px;
	}
		
}
@media (max-width: 568px) {
	.navbar-brand {
		margin-right: unset;
	}
	/*Footer*/
	.footer {
		display: block;
	}
	.footer__logo, .lists-wrap, .phone, .time {
		text-align: center;
		margin: unset;
	}
	.footer__logo img {
		width: 290px;
	}
	.lists-wrap, .phone, .time {
		margin-top: 20px;
	}	
	
	/*Header*/
		/*Menu Dropdown*/
		.nav-dropdown {
			top: 10px;
			left: 80px;
		}
		.menu-item {
			width: unset;
		}
		.menu-item {
			border-right: 1px solid #f1f1f1;
			width: 25%;
			display: table-row;
			white-space: nowrap;
		}
		.menu-item-child {
			padding: 5px 5px;
		}
	/*Index.html*/
		/*Sec-1*/
		.index__title h1 {
			font-size: 20px;
		}
		.index__subtitle p {
			width: 70%;	
		}
	/*Services.html*/
		.contentImg--subtitle {
			width: 100%;
		}
		.stepImg {
			width: 300px; height: 460px;
		}
		.circleText {
			margin-top: 60px;
		}
		.stepsCircle {
			height: 140px; width: 140px;
		}
		.circle-0 {
			left: 0px;
		}
		.circle-1 {
			top: 0;
			right: 0;
		}
		.circle-2 {
			top: 160px;
			left: 0;
			right: unset;
		}
		.circle-3 {
			bottom: unset;
			top: 160px;
			left: unset;
			right: 0;
		}
		.circle-4 {
			top: unset;
			bottom: 0;
		}
		.circle-5 {
			top: unset;
			bottom: 0;
			right: 0;
		}
	/*Price.html*/
	.price__search {
		width: 100%;
	}
}
@media (max-width: 375px) {
	.main {
		margin-top: 134px;
	}
	/*Header*/
	.navbar-brand {
		margin:unset;
	}
	.searchbar--smblock input{
		width: 280px;
	}
	/*Index.html*/
		/*Sec-1*/
		.index__title h1 {
			font-size: 18px;
		}
		.index__subtitle p {
			width: 100%;
		}
		.support__card {
			padding-bottom: 20px;
		}
		.support__card:last-child {
			padding-bottom: 0;
		}
	
}
@media (max-width: 320px) {
	.searchbar--smblock input{
		width: 230px;
	}
	.stepImg {
		width: 290px;
	}
}