@media (max-width: 1024px) {
	header {
		font-size: 14px;
	}
	/*Navbar*/
		.nav-item:first-child {
			padding-left: unset;
		}
	/*Search*/
		.search_input {
			width: 100px;
		}
	/*Side bar*/
		.sidebar .card-header {
			font-size: 14px;
		}
		.list-group {
			font-size: 14px;
		}
		.sidebar_list-item {
		padding-left: 10px;
		}
	/*Header*/
		/*Menu Dropdown*/
		.nav-dropdown {
			top: 75px;
			left: 90px;
		}
		.menu-item {
			width: 33%;
		}	
}

@media (max-width: 768px) {
	/*Footer*/
	.time {
		margin-left: unset;
	}
	
}
@media (max-width: 568px) {
	.navbar-brand {
		margin-right: unset;
	}
	.footer__logo, .lists-wrap, .phone, .time {
		flex: unset;
	}
	.lists-wrap {
		margin-left: 180px;
	}
	.phone {
		margin-right: 50px;
		margin-top: 20px;
	}
	.time {
		margin-left: 50px;
		margin-top: 20px;
	}
	.about__img img {
		width: 290px;
	}
	/*Header*/
		/*Menu Dropdown*/
		.nav-dropdown {
			top: 10px;
			left: 80px;
		}
		.menu-item {
			width: unset;
		}
		.menu-item {
		border-right: 1px solid #f1f1f1;
		width: 25%;
		display: table-row;
		white-space: nowrap;
		}
}
@media (max-width: 375px) {
	.main {
		margin-top: 134px;
	}
	/*Header*/
	.navbar-brand {
		margin:unset;
	}
	.searchbar--smblock input{
		width: 230px;
	}
	/*Footer*/
	.footer {
		display: block;
	}
	.footer__logo, .lists-wrap, .phone, .time {
		text-align: center;
		margin: unset;
	}
	.footer__logo img {
		width: 290px;
	}
	.lists-wrap, .phone, .time {
		margin-top: 20px;
	}
	
	/*About.html*/
	
	/*Contact-Form*/
	.input-wrap input {
		width: 280px;
	}
}