/*Title*/
.srvs__title {
	margin-bottom: 8px;
}
.titleIcon {
	padding-right: 12px;
}
.titleContent {
	text-transform: uppercase;
	color: #0AA5B5;
	font-size: 18px;
}
/*Concept*/
.contentParagraph {
	text-indent: 30px;
}
.contentImg {
	text-align: center;
	margin-bottom: 16px;
}
.contentImg--subtitle {
	width: 40%;
	margin: 5px auto;
	font-style: italic;
	color: #3F83C4;
}
/*Case*/
.caseCard {
	position: relative;
}
.caseImgText {
	bottom: 0;
	color: #ffffff;
	transform: translateY(-40px);
	padding: 10px 10px;
	background-color: rgb(21,24,36,0.6);
	cursor: pointer;
}
.caseImgName {
	text-transform: uppercase;
	font-size: 16px;
}

/*Circle*/
.stepImg {
	width: 480px;
	height: 500px;
	position: relative;

}
.stepsCircle {
	position: absolute;
	height: 160px; width: 160px;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;	
}
.circleText {
	color: #ffffff;
	margin-top: 100px;
}
.circle-0 {
	left: 160px;
	background-image: url(../images/data/circleImg-01-01.png);
	
}
.circle-1 {
	top: 80px;
	right: 0;
	background-image: url(../images/data/circleImg-01-02.png);
}
.circle-2 {
	top: 260px;
	right: 0;
	background-image: url(../images/data/circleImg-01-03.png);
}
.circle-3 {
	bottom: 0;
	left: 160px;
	background-image: url(../images/data/circleImg-01-04.png);
}
.circle-4 {
	top: 260px;
	background-image: url(../images/data/circleImg-01-05.png);
}
.circle-5 {
	top: 80px;
	background-image: url(../images/data/circleImg-01-06.png);
}
/*Dentail*/
.stepDentail {
	margin-top: 16px;
}
.dentail-Title, .question-Title {
	color: #0096C3;
	font-style: italic;
	font-size: 18px;
}
.dentail-Content, .question-Content {
	text-indent: 20px;
	text-align: justify;
}
/*Reason*/
.reasonCard {
	position: relative;
	margin-top: -30px;
	padding: 10px;
}
.reasonCard-circle {
	background-color: #05BBB4;
	height: 70px; width: 70px;
	border-radius: 50%;
	text-align: center;
	padding-top: 15px;
	transform: translateY(35px);
	margin: auto;
}
.srvs__reason .card-body {
	border: 1px solid #05BBB4;
	text-align: justify;
	padding: 20px 12px;
	min-height: 236px;
}
.srvs__reason .card-title {
	font-size: 18px;
	color: #0AA5B5;
	padding-top: 20px;
	text-align: center;
}
/*Question*/
.question-Content {
	margin-bottom: 8px;
}
.bigQuest:last-child .question-Title {
	color: #FF0505;
}
.bigQuest:last-child .question-Content {
	color: #ffffff;
	background-color: #0AA5B5;
	text-indent: 20px;
	border-radius: 10px;
	padding: 20px 10px;
	text-align: justify;
}