/*Title*/
.srvs__title {
	margin-bottom: 8px;
}
.titleIcon {
	padding-right: 12px;
}
.titleContent {
	text-transform: uppercase;
	color: #0AA5B5;
	font-size: 18px;
}
/*Concept*/
.contentParagraph {
	text-indent: 30px;
}
.contentImg {
	text-align: center;
	margin-bottom: 16px;
}
.contentImg--subtitle {
	width: 40%;
	margin: 5px auto;
	font-style: italic;
	color: #3F83C4;
}
/*Case*/
.caseCard {
	position: relative;
}
.caseImgText {
	bottom: 0;
	color: #ffffff;
	transform: translateY(-40px);
	padding: 10px 10px;
	background-color: rgb(21,24,36,0.6);
	cursor: pointer;
}
.caseImgName {
	text-transform: uppercase;
	font-size: 16px;
}
/*Price*/
table {
	width: 100%;
}

th, td {
	height: 50px;
}

th {
	background-color: #009688a6;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
}

th:first-child {
	border-top-left-radius: 10px;
}

th:last-child {
	border-top-right-radius: 10px;
}

th.ascending::after {
	content: '\f0dd';
	color: #ffffff;
  	font-family: 'Font Awesome 5 Free';
  	font-weight: 900;
  	float: right;
  	padding-right: 10px;
  	font-size: 12px;
  	line-height: 22px;
}

th.descending::after {
	content: '\f0de';
  	font-family: 'Font Awesome 5 Free';
  	font-weight: 900;
  	float: right;
  	padding-right: 10px;
  	font-size: 12px;
  	line-height: 22px;
}

th.normal::after {
	content: '\f0dc';
  	font-family: 'Font Awesome 5 Free';
  	font-weight: 900;
  	float: right;
  	padding-right: 10px;
  	font-size: 12px;
  	line-height: 22px;
}

td {
	text-align: center;
}

tr:nth-child(odd) {
	background-color: #f7f7f7;
}

tr:nth-child(even) {
	background-color: #ededed;
}

tr:nth-child(odd):hover {
	background-color: #00968814;
}

tr:nth-child(even):hover {
	background-color: #00968834;
}

.srvs__price i.fas {
	float: right;
	padding-right: 20px;
	font-size: 12px;
	line-height: 18px;
}

.srvs__price i.fa-sort-up, i.fa-sort-down {
	display: none;
}

/*Circle*/
.stepImg {
	width: 480px;
	height: 500px;
	position: relative;

}
.stepsCircle {
	position: absolute;
	height: 160px; width: 160px;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;	
}
.circleText {
	color: #ffffff;
	margin-top: 100px;
}
.circle-1 {
	left: 160px;
	background-image: url(../images/data/circleImg-01-01.png);
	
}
.circle-2 {
	top: 80px;
	right: 0;
	background-image: url(../images/data/circleImg-01-02.png);
}
.circle-3 {
	top: 260px;
	right: 0;
	background-image: url(../images/data/circleImg-01-03.png);
}
.circle-4 {
	bottom: 0;
	left: 160px;
	background-image: url(../images/data/circleImg-01-04.png);
}
.circle-5 {
	top: 260px;
	background-image: url(../images/data/circleImg-01-05.png);
}
.circle-6 {
	top: 80px;
	background-image: url(../images/data/circleImg-01-06.png);
}
/*Dentail*/
.stepDentail {
	margin-top: 16px;
}
.dentail-Title {
	color: #0096C3;
	font-style: italic;
	font-size: 18px;
}
.dentail-Content {
	text-indent: 20px;
	text-align: justify;
}
/*Reason*/
.reasonCard {
	position: relative;
	margin-top: -30px;
	padding: 10px;
}
.reasonCard-circle {
	background-color: #05BBB4;
	height: 70px; width: 70px;
	border-radius: 50%;
	text-align: center;
	padding-top: 15px;
	transform: translateY(35px);
	margin: auto;
}
.card-body {
	border: 1px solid #05BBB4;
	text-align: justify;
	padding: 20px 12px;
	min-height: 236px;
}
.card-title {
	font-size: 18px;
	color: #0AA5B5;
	padding-top: 20px;
	text-align: center;
}
/*Question*/
.question-Title {
	color: #FF0505;
}
.question-Content {
	color: #ffffff;
	background-color: #0AA5B5;
	text-indent: 20px;
	border-radius: 10px;
	padding: 20px 5px;
	text-align: justify;
}