.sidebar {
	margin-bottom: 36px;
}

.sidebar:last-child {
	margin-bottom: unset;
}
.sidebar .card {
	border: 1px solid #05BBB4;
}

.sidebar .card-header {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	background-color: #05BBB4;
}
.list-group {
	list-style: none;
	font-size: 16px;
	line-height: 40px;
	text-align: justify;
}
.sidebar_list-item {
	padding-left: 32px;
	height: 40px;
	border-bottom: 1px dashed #05BBB4;
}
.sidebar_list-item a {
	color: rgb(33, 37, 41);
}
.sidebar_list-item:hover {
	background-color: #05BBB4;
	opacity: 0.6;
}
.sidebar_list-item:hover a {
	color: #ffffff;
}
.sidebar_list-item:last-child {
	border-bottom: unset;
}
.sidebar__item3 {
	position: sticky;
	top: 90px;
}